# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock

# Environment files
.env.base64

# Certificate files
*.crt
*.pem
client.crt
client-key.pem

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
